Babel==2.12.1
bcrypt==4.0.1
blinker==1.6.2
click==8.1.3
colorama==0.4.6
dnspython==2.3.0
email-validator==1.3.1
Flask==2.2.3
Flask-BabelEx==0.9.4
Flask-Login==0.6.2
Flask-Mail==0.9.1
Flask-Principal==0.4.0
Flask-Security==3.0.0
Flask-SQLAlchemy==3.0.3
Flask-WTF==1.1.1
future==0.18.3
gitdb==4.0.10
GitPython==3.1.31
greenlet==2.0.2
idna==3.4
itsdangerous==2.1.2
Jinja2==3.1.2
MarkupSafe==2.1.2
normalize==2.0.2
passlib==1.7.4
pytz==2023.3
richenum==1.3.1
schedule==1.2.0
six==1.16.0
smmap==5.0.0
speaklater==1.3
SQLAlchemy==2.0.9
typing_extensions==4.5.0
unique==0.1
Werkzeug==2.2.3
WTForms==3.0.1