<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Set Password</title>
</head>
<body>

<h1> Welcome {{ current_user.fullname }}. To use our application, please proceed and change your password</h1>

<form method="POST" action="{{ url_for('auth.set_password') }}" class="signin-form">

    <div class="form-group">
        {{ form.password(type="password", class="form-control", placeholder="Password", id="password-field") }}
        <span toggle="#password-field" class="fa fa-fw fa-eye field-icon toggle-password"></span>
    </div>
    <div class="form-group">
    {{ form.password_verify(type="password", class="form-control", placeholder="Verify Password", id="password-verify") }}
        <span toggle="#password-verify" class="fa fa-fw fa-eye field-icon toggle-password"></span>
        {% if form.password_verify.errors %}
        <div class="invalid-feedback">
            {{ form.password_verify.errors[0] }}
        </div>
        {% endif %}
    </div>
    <div class="form-group">
        {{ form.submit(class="form-control btn btn-primary submit px-3") }}
    </div>
    {% if error %}
    <div class="alert alert-danger" role="alert">
        {{ error }}
    </div>
    {% endif %}
</form>

</body>
</html>